<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yf.cloud.mapper.IUserMapper">

<insert id="saveUserInfo" useGeneratedKeys="true" keyProperty="id" parameterType="com.yf.info.UserTable">
   insert into users(name,username,password,age,sex,phone,createtime,db_source) values (#{name},#{username},#{password}, #{age}, #{sex},#{phone},now(),DataBase());
</insert>
<select id="getUserTableLoginInfo" parameterType="map"  resultType="com.yf.info.UserTable">
   select * from  users where username=#{username} and password=#{password};        
</select>

<select id="getUserById" parameterType="map"  resultType="com.yf.info.UserTable">
   select * from  users where id=#{id};        
</select>

<select id="getAllUserInfo" resultType="com.yf.info.UserTable">
   select * from  users ;        
</select>











</mapper>